{% extends "layout.html" %}

{% block content %}
    {% for shirt in shirts %}
    <article class="media content-section">
        <img src="{{ url_for('static', filename='images/' ~ shirt.shirt_image) }}" 
             alt="{{ shirt.team_name }}" 
             class="img-thumbnail img-padding" 
             width="150" 
             height="150"> 

        <div class="media-body text-padding" style="display: flex; justify-content: space-between;">
          <!-- Left-aligned content -->
          <div>
            <h2>
              <a href="{{ url_for('shirt_detail', shirt_id=shirt.id) }}">{{ shirt.team_name }}</a>
            </h2>
            
            <p class="article-content">£{{ shirt.price }}</p>
            <p class="article-content">{{ shirt.description }}</p>
            <p class="article-content">Environmental Impact: {{ shirt.environmental_impact  }}</p>

          </div>

          <!-- Right-aligned "Add to Basket" button -->
          <form action="{{ url_for('add_to_basket', shirt_id=shirt.id) }}" method="post" style="margin-left: auto;">
              <button type="submit" class="btn btn-primary">Add to Basket</button>
          </form>
        </div>
      </article>
    {% endfor %}
{% endblock %}
